In [1]:
import pandas as pd

class Customer:
    data=None
    def __init__(self, file = "customers_new.json"):
        # Laden der Kundendaten aus einer JSON-Datei
        self.data = pd.read_json(file)
    
    def filter_between(self, key, frm, until):
        """
        Filtert die Kunden im DataFrame basierend auf einem Bereich (von 'frm' bis 'until') für eine bestimmte Spalte ('key').
        
        Parameters:
        key (str): Der Name der Spalte, die gefiltert werden soll (z.B. 'Alter' oder 'Ausgaben').
        frm (int/float): Der untere Grenzwert des Bereichs.
        until (int/float): Der obere Grenzwert des Bereichs.
        
        Returns:
        pd.DataFrame: Ein DataFrame mit den gefilterten Kunden.
        """
        return self.data[(self.data[key] >= frm) & (self.data[key] <= until)]

# Erstellen eines Customer-Objekts
kunde = Customer()
print(kunde)
           
# Beispiel: Filtere Kunden, deren ID zwischen 5 und 10 liegt
filtered_customers = kunde.filter_between("id", 5, 10)
filtered_customers

<__main__.Customer object at 0x000002404F8D74D0>

,id,first_name,last_name,email,gender,name_suffix,address,postal_code,city,country,country_code,dob,entry,payment_type,payment_info
4,5,Currey,Hender,chender4@zimbio.com,Male,,5 Logan Circle,60549,Frankfurt am Main,Germany,DE,1912-06-02,2022-01-01,CC,4913127550348956
5,6,Renata,Parades,rparades5@baidu.com,Female,,4 Pleasure Way,08-470,Wilga,Poland,PL,1941-11-03,2024-10-18,CC,5602235365097266176
6,7,Steward,Moret,smoret6@bing.com,Male,,192 Acker Center,34-625,Skrzydlna,Poland,PL,1946-06-01,2024-05-26,CC,5007664323906375
7,8,Verney,Easdon,veasdon7@symantec.com,Male,,868 Ryan Way,95-047,Jeżów,Poland,PL,1993-06-16,2020-12-09,CC,3575844742237407
8,9,Joletta,Cayzer,jcayzer8@chronoengine.com,Female,,18374 Blaine Circle,35914 CEDEX 9,Rennes,France,FR,1989-10-06,2024-02-21,CC,3554421277192128
9,10,Orion,Garritley,ogarritley9@squarespace.com,Male,,15 Summit Road,46-030,Murów,Poland,PL,2005-09-03,2022-03-15,CC,5610995070589496320